DATABASE_URL="postgresql://usuario:senha@localhost:5432/sigainscricao?schema=public"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD=""
ADMIN_NAME="Administrador"
ROOT_USERNAME="root"
ROOT_PASSWORD=""
ROOT_NAME="Root"
